DATABASE_URL=""
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=""
NEXTAUTH_URL=""
# NEXTAUTH_URL="http://192.168.1.83:3000"
# Next Auth Google Provider
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

OPENROUTER_API_KEY=""
OPENROUTER_API_BASE_URL=""
# Optional AG Charts Enterprise license
NEXT_PUBLIC_AG_CHARTS_LICENSE_KEY=""

FAL_API_KEY=""

UPLOADTHING_TOKEN=""

UNSPLASH_ACCESS_KEY=""
TAVILY_API_KEY=""